<div class="main-container">
  <div class="tasks">
    <ul class="tasks-list">
      <li class="task">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi at
        ducimus impedit vel reiciendis minus ipsa quod, officiis ut,
        perspiciatis accusantium quidem incidunt labore numquam voluptatum
        temporibus veniam. Ea, officiis?
      </li>
      <li class="task">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi at
        ducimus impedit vel reiciendis minus ipsa quod, officiis ut,
        perspiciatis accusantium quidem incidunt labore numquam voluptatum
        temporibus veniam. Ea, officiis?
      </li>
      <li class="task">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi at
        ducimus impedit vel reiciendis minus ipsa quod, officiis ut,
        perspiciatis accusantium quidem incidunt labore numquam voluptatum
        temporibus veniam. Ea, officiis?
      </li>
      <li class="task">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi at
        ducimus impedit vel reiciendis minus ipsa quod, officiis ut,
        perspiciatis accusantium quidem incidunt labore numquam voluptatum
        temporibus veniam. Ea, officiis?
      </li>
    </ul>
  </div>
  <custom-button [type]="'add-btn'" [size]="'btn-md'">Add Task</custom-button>
</div>
